# Solana Network (devnet, testnet, mainnet-beta)
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# zkRUNE Token Mint Address
# Devnet: A619D39h4CxHT7rSSurWAb2Un36c6W8BLyJWBYGxzstP
# Mainnet: 51mxznNWNBHh6iZWwNHBokoaxHYS2Amds1hhLGXkpump
NEXT_PUBLIC_ZKRUNE_MINT=A619D39h4CxHT7rSSurWAb2Un36c6W8BLyJWBYGxzstP

# Staking Program ID
NEXT_PUBLIC_STAKING_PROGRAM_ID=44ToPJzWsnqJRhvFS5wXLsgWGWpbe3YwhU9t8LkQBRiX

# Groth16 Verifier Program
NEXT_PUBLIC_GROTH16_VERIFIER_PROGRAM=9apA5U8YywgTHXQqpbvUMHJej7yorHcN56cewKfkX7ad

# Faucet Private Key (base58 or JSON array, only for devnet admin)
# FAUCET_PRIVATE_KEY=[...]
